.root {
  composes: standard from '../styles/common/overlays.css';
}

.hideInfo .root {
  display: none;
}
.info {
  flex: 1;
  align-items: center;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(to bottom, hsl(182, 68%, 54%), hsl(210, 75%, 59%));
  border-bottom: 1px solid rgba(0,0,0, .2);
  font-size: 36px;
  font-weight: 100;
  text-shadow: 0 3px rgba(0,0,0,.2);
  text-align: right;
  color: white;
  font-family: "Arial";
}
.info2 {
  flex: 1;
  align-items: center;
  padding-right: .5em;
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: linear-gradient(to bottom, hsl(116, 100%, 75%), hsl(120, 88%, 48%));
  border-bottom: 1px solid rgba(0,0,0, .2);
  font-size: 36px;
  font-weight: 100;
  text-shadow: 0 3px rgba(0,0,0,.2);
  text-align: center;
  color: white;
  font-family: "Arial";
}
.timestamp {
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  color: hsl(192, 91%, 36%);
}

.clock {
  height: 1em;
  margin-left: .25em;
  vertical-align: middle;
  fill: hsl(192, 91%, 36%);
  align-items: center;
}

.label {
  font-size: .8em;
  text-align: left;
  display: block;
  line-height: 1em;
  margin-top: .25em;
  margin-left: .25em;
  vertical-align: middle;
}

